<div class="container mt-5">
  <div class="row">
    <div class="">


      <!-- Resultados -->
      @if(congresosCertificados.length > 0){
        <div class="mt-4">
          <!--<div class="alert alert-success text-center">
            <strong>Certificados encontrados:</strong>
          </div>-->
          <!-- Lista de Congresos -->
          @for(congreso of congresosCertificados; track congreso.congressId){
             @if(congreso.certificateAttendance || congreso.exposure.length > 0){
               <div class="card mb-3 shadow">
                 <div class="card-header bg-secondary text-white">
                   <h5 class="mb-0">Congreso: {{ congreso.name }}</h5>
                 </div>
                 <div class="card-body">
                   <!-- Lista de Certificados -->
                   <ul class="list-group list-group-flush">

                     @if (congreso.certificateAttendance) {
                       <h5>Certificado asistencia</h5>
                       <button class="btn btn-info" (click)="descargarCertificadoAsistencia(congreso.congressId)">Descargar</button>
                     }
                     @if (congreso.exposure.length > 0){
                       <h5>Certificados exposiciones</h5>
                       <li *ngFor="let exposicion of congreso.exposure" class="list-group-item">

                         @if(exposicion.type == 1){
                           <strong>Ponencia: {{ exposicion.name }}:</strong>
                           <button class="btn btn-info" (click)="descargarCertificadoExposicion(exposicion.exposureId)">Descargar</button>
                         }
                         @if(exposicion.type == 2){
                           <strong>Conferencia: {{ exposicion.name }}:</strong>
                           <button class="btn btn-info" (click)="descargarCertificadoConferencia(exposicion.exposureId)">Descargar</button>
                         }
                       </li>
                     }
                   </ul>
                 </div>
               </div>
             }


          }
        </div>
      }

      <!-- Mensaje si no hay resultados -->
      <div *ngIf="congresosCertificados.length <= 0 && buscarRealizado" class="mt-4">
        <div class="alert alert-warning text-center">
          No se encontraron certificados para la cédula ingresada.
        </div>
      </div>
    </div>
  </div>
</div>
