<div>

  <!--Filtros -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="form-group w-25">
      <!-- Congreso-->
      <label for="congress" class="form-label
        ">Congreso:</label>
      <ng-select
        id="congress"
        [items]="congresses"
        bindLabel="name"
        bindValue="congressId"
        placeholder="Selecciona un congreso"
        [(ngModel)]="congressIdFilter"
        (keyup)="loadFilterCongress($event)"
        (change)="loadExposures2()"
        [notFoundText]="'No se encontraron congresos'"
        class="form-control"
      >
      </ng-select>
    </div>

    <div class="form-group w-25">
      <!-- Tipo de exposición-->
      <label for="type" class="form-label
        ">Tipo de exposición:</label>
      <ng-select
        id="type"
        [items]="typesFilter"
        bindLabel="label"
        bindValue="value"
        placeholder="Selecciona un tipo de exposición"
        [(ngModel)]="typeFilter"
        (change)="loadExposures2()"
        [notFoundText]="'No se encontraron tipo de exposición'"
        class="form-control"
      >
      </ng-select>
    </div>

    <div class="form-group w-50">
      <!-- Congreso-->
      <label for="researchLines" class="form-label
        ">Línea de Investigación:</label>
      <ng-select
        id="researchLines"
        [items]="researchLinesFilter"
        bindLabel="label"
        bindValue="value"
        placeholder="Selecciona una línea de investigación"
        [(ngModel)]="researchLineFilter"
        (keyup)="loadFilterCongress($event)"
        (change)="loadExposures2()"
        [notFoundText]="'No se encontraron congresos'"
        class="form-control"
      >
      </ng-select>
    </div>
  </div>

  <div *ngIf="response">
    <!-- Selector para tamaño de página -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="form-group w-50">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar presentaciones..."
          [(ngModel)]="searchTerm"
          (input)="onSearchChange()"
        />
      </div>

      <!-- boton para descargar reporte con icono excel-->
      <div class="form-group">
        <button class="float-end text-end" (click)="downloadReport()">
          <img width="30px" src="excel.ico" />
        </button>
      </div>

      <!-- Selector para tamaño de página -->
      <div class="form-group">
        <label for="pageSize" class="me-2">Elementos por página:</label>
        <select id="pageSize" class="form-select d-inline-block w-auto"
                [(ngModel)]="pageSize"
                (change)="onPageSizeChange($event)">
          <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
        </select>
      </div>
    </div>

    <!-- Tabla para mostrar la lista de congresos -->
    <table class="table table-bordered table-striped mt-3">
      <thead class="table-dark">
      <tr>
        <th>Congreso</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Línea de investigación</th>
        <th>Estado</th>
        <th>Inicio</th>
        <th>Fin</th>
        <th>Observación</th>
        <th class="text-center">Descargar presentación</th>
        <th>Presentada</th>
        <th class="text-center">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let exposure of response.items">
        <td>{{ exposure.congressName }}</td>
        <td>{{ exposure.name }} <br> {{exposure.guidCert}}</td>
        <td>{{ exposure.type | tipoExposicion }}</td>
        <td>{{ exposure.researchLineLabel }}</td>
        <td>{{ exposure.statusLabelExposure }}</td>
        <td>{{ exposure.dateStart | formatearFechaHora }}</td>
        <td>{{ exposure.dateEnd | formatearFechaHora }}</td>
        <td>{{ exposure.observation }}</td>
        <td class="text-center">
          <button class="btn btn-sm btn-info" (click)="downloadSummary(exposure.exposureId,exposure.summaryFilePath)">
            Descargar
          </button>
        </td>

        <td class="px-4 py-2 relative text-center">
          <div class="form-check form-switch text-center">
            <input
              type="checkbox"
              class="form-check-input"
              [checked]="exposure.presented == 'SI'"
              (change)="changePresented($event, exposure.exposureId)"
            />
          </div>
        </td>

        <td class="border border-gray-300 px-4 py-2 relative">
          <div class="inline-block text-left">
            <button
              type="button"
              data-bs-toggle="dropdown"
              class="btn btn-primary dropdown-toggle show"
            >
              Opciones
            </button>

              <ul class="dropdown-menu">
                <li>
                  <button class="btn btn-sm btn-secondary dropdown-item" (click)="showAuthors(exposure.authors, content)">Autores</button>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  @if (exposure.statusExposure == 0 || exposure.statusExposure == 2) {
                    <button class="btn btn-sm btn-info dropdown-item" (click)="openApproveExposure(contentApproveExposure,exposure)">
                      Aprobar
                    </button>
                    <hr class="dropdown-divider">
                  }
                </li>
                <li>
                  @if (exposure.statusExposure == 0) {
                    <button class="btn btn-sm btn-info dropdown-item" (click)="openOnReviewExposure(exposure)">
                      Enviar a revisión
                    </button>
                    <hr class="dropdown-divider">
                  }
                </li>
                <li>

                    <button class="btn btn-sm btn-info dropdown-item" (click)="openEditExposure(contentEditExposurePending,exposure)">
                      Editar
                    </button>
                    <hr class="dropdown-divider">

                </li>
                <li>
                  @if (exposure.statusExposure == 3 || exposure.statusExposure == 1 || exposure.statusExposure == 0) {
                    <button class="btn btn-sm btn-info dropdown-item" (click)="openRejectExposure(contentRejectExposure,exposure)">
                      Rechazar
                    </button>
                    <hr class="dropdown-divider">
                  }
                </li>
                <li>
                  <button class="btn btn-sm btn-secondary dropdown-item" (click)="copyUrlRegisterAtendance(exposure.guid)">Copiar url de registro de asistencia</button>
                </li>
              </ul>

          </div>
        </td>
      </tr>
      <!-- Mostrar mensaje si no hay congresos -->
      <tr *ngIf="response.items.length === 0">
        <td colspan="6" class="text-center">No hay congresos disponibles.</td>
      </tr>
      </tbody>
    </table>

    <!-- Paginación usando ng-bootstrap -->
    <nav class="mt-4" *ngIf="response.totalPages > 1">
      <ngb-pagination
        [collectionSize]="response.totalItems"
        [(page)]="currentPage"
        [pageSize]="pageSize"
        (pageChange)="loadExposures($event, pageSize, searchTerm)">
      </ngb-pagination>
    </nav>
  </div>

  <!-- Spinner de carga -->
  <div *ngIf="!response" class="text-center mt-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
    <p>Cargando congresos...</p>
  </div>

  <ng-template #content let-modal class="modal-dialog modal-lg">
    <div class="modal-header">
      <h4 class="modal-title">Autores</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
        <div>
        <table class="table table-bordered table-striped mt-3">
          <thead class="table-dark">
          <tr>
            <th>Nombre</th>
            <th>Cédula</th>
            <th>Correo institucional</th>
            <th>Correo personal</th>
            <th>Número telefónico</th>
            <th>País de origen</th>
            <th>Ciudad de residencia</th>
            <th>Grado académico</th>
          </tr>
          </thead>
          <tbody>
          @for (author of authors; track author.authorId) {
            <tr>
              <td>{{author.name}}</td>
              <td>{{author.idNumber}}</td>
              <td>{{author.institutionalMail}}</td>
              <td>{{author.personalMail}}</td>
              <td>{{author.phoneNumber}}</td>
              <td>{{author.country}}</td>
              <td>{{author.city}}</td>
              <td>{{author.academicDegreeLabel}}</td>
            </tr>
          }
          </tbody>
        </table>
        </div>
    </div>

  </ng-template>

  <ng-template #contentApproveExposure let-modalApproveExposure class="modal-dialog modal-lg">
    <div class="modal-header">
      <h4 class="modal-title">Aprobar exposición</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalApproveExposure.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
      <div class="container mt-5">
        <form #approveForm="ngForm" (ngSubmit)="approve(approveForm)" class="p-4 border rounded shadow">
          <div class="mb-3">
            <label for="sala" class="form-label">Sala:</label>
            <ng-select
              id="sala"
              name="sala"
              [items]="roomsItems"
              bindLabel="name"
              bindValue="roomId"
              [(ngModel)]="approveExposureModel.roomId"
              placeholder="Selecciona una sala"
              [notFoundText]="'No se encontraron salas'"
              required
              class="form-control"
            >
            </ng-select>
          </div>

          <div class="mb-3">
            <label for="fecha_inicio" class="form-label">Fecha inicio:</label>
            <input
              type="datetime-local"
              id="fecha_inicio"
              name="fecha_inicio"
              class="form-control"
              [(ngModel)]="approveExposureModel.dateStart"
              min="2024-05-05T07:00"
              max="2026-05-09T23:59"
              required
            />
          </div>

          <div class="mb-3">
            <label for="fecha_fin" class="form-label">Fecha fin:</label>
            <input
              type="datetime-local"
              id="fecha_fin"
              name="fecha_fin"
              class="form-control"
              [(ngModel)]="approveExposureModel.dateEnd"
              min="2024-05-05T07:00"
              max="2026-05-09T23:59"
              required
            />
          </div>
          <div class="text-danger" id="error_fecha_fin" style="display:none;">
        </div>

          <div class="mb-3">
            <label for="observacion" class="form-label">Observación:</label>
            <input
              type="text"
              id="observacion"
              name="observacion"
              class="form-control"
              [(ngModel)]="approveExposureModel.observation"
              required>
          </div>
          <div class="mb-3">
            <label for="urlAccess" class="form-label">Url de Acceso:</label>
            <input
              type="text"
              id="urlAccess"
              name="urlAccess"
              class="form-control"
              [(ngModel)]="approveExposureModel.urlAccess"
              required>
          </div>
          <button type="submit" class="btn btn-primary"  [disabled]="approveForm.invalid">Enviar</button>
        </form>
      </div>
    </div>

  </ng-template>

  <ng-template #contentRejectExposure let-modalRejectExposure class="modal-dialog modal-lg">
    <div class="modal-header">
      <h4 class="modal-title">Rechazar exposición</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalRejectExposure.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
      <div class="container mt-5">
        <form #rejectForm="ngForm" (ngSubmit)="reject(rejectForm)" class="p-4 border rounded shadow">

          <div class="mb-3">
            <label for="observacion_r" class="form-label">Observación:</label>
            <input
              type="text"
              id="observacion_r"
              name="observacion_r"
              class="form-control"
              [(ngModel)]="rejectExposureModel.observation"
              required>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </ng-template>

  <ng-template #contentEditExposurePending let-modalEditExposure class="modal-dialog modal-lg">
    <div class="modal-header">
      <h4 class="modal-title">Editar exposición</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalEditExposure.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
      <div class="container mt-5">
        <form #editForm="ngForm" (ngSubmit)="editExposure(editForm)" class="p-4 border
        rounded shadow">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input
              type="text"
              id="nombre"
              name="nombre"
              class="form-control"
              [(ngModel)]="editExposurePendingModel.name"
              required>
          </div>

          <div class="mb-3">
            <label for="linea_investigacion" class="form-label">Línea de investigación:</label>
            <ng-select
              id="linea_investigacion"
              name="linea_investigacion"
              [items]="researchLinesFilter"
              bindLabel="label"
              bindValue="value"
              [(ngModel)]="editExposurePendingModel.researchLine"
              placeholder="Selecciona una línea de investigación"
              [notFoundText]="'No se encontraron líneas de investigación'"
              required
              class="form-control"
            >
            </ng-select>
          </div>

          <div class="mb-3">
            <label for="observacion_e" class="form-label
              ">Observación:</label>
            <input
              type="text"
              id="observacion_e"
              name="observacion_e"
              class="form-control"
              [(ngModel)]="editExposurePendingModel.observation"
              required>
          </div>
          <div class="mb-3">
            <label for="urlAccess_e" class="form-label">Url de Acceso:</label>
            <input
              type="text"
              id="urlAccess_e"
              name="urlAccess"
              class="form-control"
              [(ngModel)]="editExposurePendingModel.urlAccess"
              required>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Enviar</button>
        </form>
      </div>
    </div>
  </ng-template>
</div>
