<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body text-center">
          
          <div class="image-container mb-4">
            <img src="/logor.png" alt="Imagen decorativa" class="img-fluid">
          </div>
          <h2 class="mb-4">Administrador</h2>
          <p class="mb-4">Ingreso al sistema</p>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3 text-start">
              <label for="email" class="form-label">Correo electrónico</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                formControlName="email"
                required
                placeholder="correo@ejemplo.com"
              >
            </div>
            <div class="mb-3 text-start">
              <label for="password" class="form-label">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                formControlName="password"
                required
                placeholder="Ingresa tu contraseña"
              >
            </div>
            <div class="mb-3 form-check text-start">
              <input
                type="checkbox"
                class="form-check-input"
                id="rememberMe"
                name="rememberMe"
                formControlName="rememberMe"
              >
              <label class="form-check-label" for="rememberMe">Recuerdame</label>
            </div>
            <div class="d-grid mb-3">
              <button type="submit" class="btn btn-primary">
                INGRESAR
              </button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>