<div class="container mt-5">
  <h2>Formulario de Inserción de Exposición</h2>
  <form (ngSubmit)="onSubmit()">
    <!-- Campo para el nombre de la exposición -->
    <div class="form-group">
      <label for="name">Nombre de la Exposición:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="exposureInsertItem.Name" name="name" required>
    </div>

    <!-- Campo para la línea de investigación -->
    <div class="form-group">
      <label for="researchLine">Línea de Investigación:</label>

      <ng-select
        id="researchLine"
        name="researchLine"
        [items]="researchLines"
        bindLabel="label"
        bindValue="value"
        [(ngModel)]="exposureInsertItem.ResearchLine"
        placeholder="Selecciona Línea de Investigación"
        [notFoundText]="'No se encontraron Líneas de Investigación'"
      >
      </ng-select>


    </div>

    <!-- Campo para subir un archivo PDF -->
    <div class="form-group">
      <label for="file">Subir Archivo PDF:</label>
      <input type="file" class="form-control-file" id="file" name="file" (change)="onFileChange($event)" accept=".pdf" required>
    </div>


    <!-- Sección de autores -->
    <h4>Autores (Máximo 3 Autores)</h4>
    @for (author of exposureInsertItem.Authors; track author.Position){
      <div>
        <input type="text" class="form-control" [(ngModel)]="author.Position" name="author{{author.Position}}Position" required>
        <div class="form-group">
          <label for="author{{author.Position}}Name">Nombre del Autor {{author.Position + 1}}:</label>
          <input type="text" class="form-control" [(ngModel)]="author.Name" name="author{{author.Position}}Name" required>
        </div>
        <div class="form-group">
          <label for="author{{author.Position}}IDNumber">Número de Cédula del Autor {{author.Position + 1}}:</label>
          <input type="number" class="form-control" [(ngModel)]="author.IDNumber" name="author{{author.Position}}IDNumber" required>
        </div>
        <div class="form-group">
          <label for="author{{author.Position}}InstitutionalMail">Correo institucional del Autor {{author.Position + 1}}:</label>
          <input type="email" class="form-control" [(ngModel)]="author.InstitutionalMail" name="author{{author.Position}}InstitutionalMail" required>
        </div>
        <div class="form-group">
          <label for="author{{author.Position}}PersonalMail">Correo personal del Autor {{author.Position + 1}}:</label>
          <input type="email" class="form-control" [(ngModel)]="author.PersonalMail" name="author{{author.Position}}PersonalMail" required>
        </div>
        <div class="form-group">
          <label for="author{{author.Position}}PhoneNumber">Número de teléfono del Autor {{author.Position + 1}}:</label>
          <input type="text" class="form-control" [(ngModel)]="author.PhoneNumber" name="author{{author.Position}}PhoneNumber" required>
        </div>
        <div class="form-group">
          <label for="author{{author.Position}}Country">País de origen del Autor {{author.Position + 1}}:</label>
          <input type="text" class="form-control" [(ngModel)]="author.Country" name="author{{author.Position}}Country" required>
        </div>
        <div class="form-group">
          <label for="author{{author.Position}}City">Ciudad de residencia del Autor {{author.Position + 1}}:</label>
          <input type="text" class="form-control" [(ngModel)]="author.City" name="author{{author.Position}}City" required>
        </div>
        <div class="form-group">
          <label for="author{{author.Position}}AcademicDegree">Grado académico del Autor {{author.Position + 1}}:</label>
          <ng-select
            id="academicDegree"
            name="author{{author.Position}}AcademicDegree"
            [items]="academicDegrees"
            bindLabel="label"
            bindValue="value"
            [(ngModel)]="author.AcademicDegree"
            placeholder="Selecciona un Grado académico"
            [notFoundText]="'No se encontraron Grados académicos'"
          >
          </ng-select>
        </div>
      </div>
    }

    <!-- Botón para enviar el formulario -->
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
