<div>
  <!-- Botón para agregar un nuevo congreso -->
  <button class="btn btn-primary mb-3" (click)="open(content)">Agregar Congreso</button>

  <div *ngIf="response">
    <!-- Selector para tamaño de página -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="form-group w-50">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar congresos..."
          [(ngModel)]="searchTerm"
          (input)="onSearchChange()"
        />
      </div>
      <!-- Selector para tamaño de página -->
      <div class="form-group">
        <label for="pageSize" class="me-2">Elementos por página:</label>
        <select id="pageSize" class="form-select d-inline-block w-auto"
                [(ngModel)]="pageSize"
                (change)="onPageSizeChange($event)">
          <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
        </select>
      </div>
    </div>

    <!-- Tabla para mostrar la lista de congresos -->
    <table class="table table-bordered table-striped mt-3">
      <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Flayer</th>
        <th>Asistencia</th>
        <th>Ponencia</th>
        <th>Conferencia</th>
        <th>Ciudad</th>
        <th class="text-center">Horas Mínimas</th>
        <th class="text-center">Activo</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let congress of response.items">
        <td>{{ congress.name }}</td>
        <td>{{ congress.startDate }}</td>
        <td>{{ congress.endDate }}</td>
        <td class="text-center">
          @if (congress.fileFlayer != ""){
            SI
          } @else {
            No disponible
          }
        </td>
        <td class="text-center">
          @if (congress.fileCertificateAttendance != ""){
            SI
          } @else {
            No disponible
          }
        </td>
        <td class="text-center">
          @if (congress.fileCertificateExposure != ""){
            SI
          } @else {
            No disponible
          }
        </td>
        <td class="text-center">
          @if (congress.fileCertificateConference != ""){
            SI
          } @else {
            No disponible
          }
        </td>
        <td>{{ congress.location }}</td>
        <td class="text-center">{{ congress.minHours }}</td>
        <td class="text-center">
          @if (congress.status){
            SI
          } @else {
            NO
          }
          </td>
        <td class="border border-gray-300 px-4 py-2 relative">
          <div class="inline-block text-left">
            <button
              type="button"
              data-bs-toggle="dropdown"
              class="btn btn-primary dropdown-toggle show"
            >
              Opciones
            </button>
            <ul class="dropdown-menu">
              <li>
                <button class="btn btn-sm btn-warning me-2 dropdown-item" (click)="edit(content, congress)">
                  Editar
                </button>
                <hr class="dropdown-divider">
              </li>
              <li>
                <button class="btn btn-sm btn-secondary dropdown-item" (click)="activateCongress(congress.congressId)">
                  Activar
                </button>
                <hr class="dropdown-divider">
              </li>
              <li>
                <button class="btn btn-sm btn-info dropdown-item" (click)="openListRoomsPage(contentListRooms,congress)">
                  Gestionar Salas
                </button>
                <hr class="dropdown-divider">
              </li>

              @if (congress.status){
                <li>
                  <button class="btn btn-sm btn-secondary dropdown-item" (click)="copyUrlRegisterConferencia(congress.guid)">
                    Copiar url de registro conferencia
                  </button>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <button class="btn btn-sm btn-secondary dropdown-item" (click)="openModalSendInvitationConference(modalInvitationConference,congress)">
                    Enviar invitación con url de registro conferencia
                  </button>
                  <hr class="dropdown-divider">
                </li>
              }

              <li>
                <button class="btn btn-sm btn-secondary dropdown-item" (click)="openModalFile(modalSubirFlayer, congress)">
                  Subir Flayer
                </button>
                <hr class="dropdown-divider">
              </li>
              <li>
                <button class="btn btn-sm btn-secondary dropdown-item" (click)="openModalFile(modalSubirConferencia, congress)">
                  Subir Plantilla de Certificado de Conferencia
                </button>
                <hr class="dropdown-divider">
              </li>
              <li>
                <button class="btn btn-sm btn-secondary dropdown-item" (click)="openModalFile(modalSubirPonencia, congress)">
                  Subir Plantilla de Certificado de Ponencia
                </button>
                <hr class="dropdown-divider">
              </li>
              <li>
                <button class="btn btn-sm btn-secondary dropdown-item" (click)="openModalFile(modalSubirAsistencia, congress)">
                  Subir Plantilla de Certificado de Asistencia
                </button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <!-- Mostrar mensaje si no hay congresos -->
      <tr *ngIf="response.items.length === 0">
        <td colspan="6" class="text-center">No hay congresos disponibles.</td>
      </tr>
      </tbody>
    </table>

    <!-- Paginación usando ng-bootstrap -->
    <nav class="mt-4" *ngIf="response.totalPages > 1">
      <ngb-pagination
        [collectionSize]="response.totalItems"
        [(page)]="currentPage"
        [pageSize]="pageSize"
        (pageChange)="loadCongresses($event, pageSize, searchTerm)">
      </ngb-pagination>
    </nav>
  </div>

  <!-- Spinner de carga -->
  <div *ngIf="!response" class="text-center mt-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
    <p>Cargando congresos...</p>
  </div>


  <!-- Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ selectedCongreso.congressId ? 'Editar Congreso' : 'Agregar Congreso' }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form #congressForm="ngForm" (ngSubmit)="save(congressForm)">
        <div class="form-group mb-2">
          <label for="nombre" class="form-label">Nombre</label>
          <input
            type="text"
            id="nombre"
            class="form-control"
            [(ngModel)]="selectedCongreso.name"
            name="nombre"
            required
            minlength="3"
            pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ ]+$"
          />

          <!-- Mensajes de error -->
          <div *ngIf="congressForm.controls['nombre']?.invalid && congressForm.controls['nombre']?.touched" class="text-danger">
            <small *ngIf="congressForm.controls['nombre']?.errors?.['required']">El nombre es requerido.</small>
            <small *ngIf="congressForm.controls['nombre']?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</small>
            <small *ngIf="congressForm.controls['nombre']?.errors?.['pattern']">Solo se permiten letras y espacios.</small>
          </div>
        </div>

        <div class="form-group mb-2">
          <label for="fechaInicio" class="form-label">Fecha Inicio</label>
          <input
            type="date"
            id="fechaInicio"
            class="form-control"
            [(ngModel)]="selectedCongreso.startDate"
            name="fechaInicio"
            required
          />
          <div *ngIf="congressForm.controls['fechaInicio']?.invalid && congressForm.controls['fechaInicio']?.touched" class="text-danger">
            <small>La fecha de inicio es requerida.</small>
          </div>
        </div>
        <div class="form-group mb-2">
          <label for="fechaFin" class="form-label">Fecha Fin</label>
          <input
            type="date"
            id="fechaFin"
            class="form-control"
            [(ngModel)]="selectedCongreso.endDate"
            name="fechaFin"
            required
          />
          <div *ngIf="congressForm.controls['fechaFin']?.invalid && congressForm.controls['fechaFin']?.touched" class="text-danger">
            <small>La fecha de fin es requerida.</small>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="ubicacion" class="form-label">Ciudad</label>
          <input
            type="text"
            id="ubicacion"
            class="form-control"
            [(ngModel)]="selectedCongreso.location"
            name="ubicacion"
            required
            pattern="^[A-ZÁÉÍÓÚÑ][A-Za-zÁÉÍÓÚáéíóúÑñ ]*$"

          />
          <div *ngIf="congressForm.controls['ubicacion']?.invalid && congressForm.controls['ubicacion']?.touched" class="text-danger">
            <small *ngIf="congressForm.controls['ubicacion']?.errors?.['required']">La ciudad es requerida.</small>
            <small *ngIf="congressForm.controls['ubicacion']?.errors?.['pattern']">Debe iniciar con mayúscula y solo se permiten letras y espacios.</small>

          </div>
        </div>
        <div class="form-group mb-3">
          <label for="minHours" class="form-label">Horas Mínimas</label>
          <input
            type="number"
            id="minHours"
            class="form-control"
            [(ngModel)]="selectedCongreso.minHours"
            name="minHours"
            required
            min="1"
          />
          <div *ngIf="congressForm.controls['minHours']?.invalid && congressForm.controls['minHours']?.touched" class="text-danger">
            <small *ngIf="congressForm.controls['minHours']?.errors?.['required']">Las horas mínimas son requeridas.</small>
            <small *ngIf="congressForm.controls['minHours']?.errors?.['min']">Debe ser al menos 1 hora.</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="congressForm.invalid">Guardar</button>
          <button class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancelar</button>
        </div>
      </form>
    </div>
  </ng-template>

  <!-- Modal -->
  <ng-template #modalSubirFlayer let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ selectedCongreso.congressId ? 'Editar Flayer' : 'Agregar Flayer' }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form #flayerForm="ngForm" (ngSubmit)="saveFile(1)">
        <div class="form-group mb-3">
          <input type="file" class="form-control" id="flayer" accept="image/*" required (change)="onFileChangeF($event)"
          [(ngModel)]="fileFlayer" name="flayer">
          @if(!fileValidFlayer){
            <div class="text-danger">
              <small >El archivo es requerido.</small>
            </div>
          }
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="!fileValidFlayer">Guardar</button>
          <button class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancelar</button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #modalSubirConferencia let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ selectedCongreso.congressId ? 'Editar Plantilla Certificado Conferencia' : 'Agregar Plantilla Certificado Conferencia' }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form #conferenceForm="ngForm" (ngSubmit)="saveFile(2)">
        <div class="form-group mb-3">
          <input type="file" class="form-control" id="templateConference" accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" required (change)="onFileChangeC($event)"
          [(ngModel)]="fileFlayer" name="templateConference">
          @if(!fileValidConference){
            <div class="text-danger">
              <small >El archivo es requerido.</small>
            </div>
          }
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="!fileValidConference">Guardar</button>
          <button class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancelar</button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #modalSubirPonencia let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ selectedCongreso.congressId ? 'Editar Plantilla Certificado Ponencia' : 'Agregar Plantilla Certificado Ponencia' }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form #ponenciaForm="ngForm" (ngSubmit)="saveFile(3)">
        <div class="form-group mb-3">
          <input type="file" class="form-control" id="templatePonencia" accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" required (change)="onFileChangeP($event)"
          [(ngModel)]="filePonencia" name="templatePonencia">
          @if(!fileValidPonencia){
            <div class="text-danger">
              <small >El archivo es requerido.</small>
            </div>
          }
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="!fileValidPonencia">Guardar</button>
          <button class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancelar</button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #modalSubirAsistencia let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ selectedCongreso.congressId ? 'Editar Plantilla Certificado Asistencia' : 'Agregar Plantilla Certificado Asistencia' }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form #attendanceForm="ngForm" (ngSubmit)="saveFile(4)">
        <div class="form-group mb-3">
          <input type="file" class="form-control" id="templateAttendance" accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" required (change)="onFileChangeA($event)"
          [(ngModel)]="fileFlayer" name="templateAttendance">
          @if(!fileValidAttendance){
            <div class="text-danger">
              <small >El archivo es requerido.</small>
            </div>
          }
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="!fileValidAttendance">Guardar</button>
          <button class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancelar</button>
        </div>
      </form>
    </div>
  </ng-template>

  <!-- Modal for list Rooms -->
  <ng-template #contentListRooms let-modal>
    <div class="modal-header">

    </div>
    <div class="modal-body">

      <div *ngIf="results">
        <table class="table table-bordered table-striped mt-3">
          <thead class="table-dark">
          <tr>
            <th>Nombre</th>
            <th>Capacidad</th>
            <th>Ciudad</th>
          </tr>
          </thead>
          <tbody>
            @for (roomsItem of results.items; track roomsItem.roomId ){
              <tr>
              <td>{{roomsItem.name}}</td>
              <td>{{roomsItem.capacity}}</td>
              <td>{{roomsItem.location}}</td>
              </tr>
            }
          </tbody>
        </table>

        <!-- Paginación usando ng-bootstrap -->
        <nav class="mt-4" *ngIf="results.totalPages > 1">
          <ngb-pagination
            [collectionSize]="results.totalItems"
            [(page)]="currentPageResults"
            [pageSize]="pageSizeResults"
            (pageChange)="loadRooms($event, pageSizeResults)">
          </ngb-pagination>
        </nav>

      </div>

      <!-- Spinner de carga -->
      <div *ngIf="!results" class="text-center mt-5">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
        <p>Cargando salas...</p>
      </div>

    </div>

  </ng-template>

    <!-- Modal for Send Multiples Emails -->
    <ng-template #modalInvitationConference let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{ selectedCongreso.congressId ? 'Enviar Invitación Ponencia' : 'Agregar Plantilla Certificado Ponencia' }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">

        <div class="email-container">
          <div class="input-wrapper">
            <input
              type="text"
              [(ngModel)]="emailInput"
              (keyup.enter)="addEmail()"
              placeholder="Escribe un correo y presiona Enter"
              class="email-input"
            />
            <button class="add-button" (click)="addEmail()">Agregar</button>
          </div>

          <!-- Mostrar mensaje de error si el correo no es válido -->
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>

          <div class="emails-list">
            <ul class="ul-emails">
              <li *ngFor="let email of emails; let i = index" class="email-item">
                <span class="email-text">{{ email }}</span>
                <button class="remove-button" (click)="removeEmail(i)">×</button>
              </li>
            </ul>
          </div>

          <!-- Botón Enviar -->
        <button
          class="send-button"
          (click)="sendEmails()"
          [disabled]="emails.length === 0"
        >
          Enviar
        </button>



        </div>

      </div>

    </ng-template>

</div>
